<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciar Sessão de Teste</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    /> -->
    <style>
      {{ block "css" .}}
      {{ end }}
    </style>
  </head>
  <body>
    <div class="centered-container">
      <div class="card">
        <a href="/">Home</a>
        <h2 class="mb-4 text-center">Adicionar Sessão de Teste</h2>
        <p>Projeto: <strong>{{.ProjectName}}</strong></p>
        <form id="addSessionForm">
          <div class="form-group">
            <label for="tester_email">Tester Email:</label>
            <input
              type="email"
              class="form-control"
              id="tester_email"
              name="tester_email"
              required
            />
          </div>
          <div class="form-group">
            <label for="strategy">Estratégia:</label>
            <select class="form-control" id="strategy" name="strategy" required>
              <option value="">Selecione uma estratégia</option>
              {{ range $i, $s := .Strategies }}
              <option value="{{$s}}">{{$s}}</option>
              {{ end }}
            </select>
          </div>
          <div class="form-group">
            <label for="duration_minutes">Duração (minutos):</label>
            <input
              type="number"
              class="form-control"
              id="duration_minutes"
              name="duration_minutes"
              required
              min="1"
            />
          </div>
          <div class="form-group">
            <label for="session_description">Descrição:</label>
            <input
              type="text"
              class="form-control"
              id="session_description"
              name="session_description"
            />
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="is_active" name="is_active">
              <option value="created" selected>Created</option>
              <option value="executing">Executing</option>
              <option value="finalized">Finalized</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Adicionar Sessão
          </button>
          <div id="sessionMsg" style="margin-top: 10px"></div>
        </form>
      </div>
      {{ range .Sessions }}
      <div class="panel panel-default card">
        <div class="panel-heading"><strong>{{ .ProjectName }}</strong></div>
        <div class="panel-body">
          <p><strong>Id:</strong> {{ .Id }}</p>
          {{ if $.Admin }}
          <p><strong>Tester:</strong> {{ .TesterEmail }}</p>
          {{ end }}
          <p><strong>Strategy:</strong> {{ .Strategy }}</p>
          <p><strong>Description:</strong> {{ .Description }}</p>
          <p>
            <strong>Duration:</strong> {{ .DurationMins }} {{ if gt
            .DurationMins 1}} minutes {{else}} minute {{end}}
          </p>
          <form id="updateStatusForm-{{.Id}}">
            <label for="status">Status</label>
            <select class="form-control" id="form_status" name="form_status">
              <option value="created" {{if eq .Status "created"}}selected{{end}}>Created</option>
              <option value="executing" {{if eq .Status "executing"}}selected{{end}}>Executing</option>
              <option value="finalized" {{if eq .Status "finalized"}}selected{{end}}>Finalized</option>
            </select>
            <button type="submit" class="btn btn-danger btn-block">
              Update
            </button>
            <div id="{{.Id}}Msg" style="margin-top: 10px"></div>
          </form>
          <script>
            document
              .getElementById("updateStatusForm-{{.Id}}")
              .addEventListener("submit", async function (e) {
                e.preventDefault();
                const status = document.getElementById("form_status").value;
                const res = await fetch("/sessions/{{ .Id }}", {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({
                    status,
                  }),
                  redirect: 'manual',
                });
                const msgDiv = document.getElementById("{{.Id}}Msg");
                if (res.ok) {
                  msgDiv.innerHTML =
                    '<span class="text-success">Status alterado com sucesso!</span>';
                } else {
                  msgDiv.innerHTML =
                    '<span class="text-danger">Erro ao alterar status.</span>';
                }
              });
          </script>
        </div>
      </div>
      {{ else }}
      <p>No sessions found.</p>
      {{ end }}
    </div>
    <script>
      document
        .getElementById("addSessionForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();
          const testerEmail = document.getElementById("tester_email").value;
          const strategy = document.getElementById("strategy").value;
          const durationMinutes = parseInt(
            document.getElementById("duration_minutes").value,
            10
          );
          const sessionDescription = document.getElementById(
            "session_description"
          ).value;
          const projectName = "{{.ProjectName}}";
          const res = await fetch("/sessions", {
            method: "PUT",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              testerEmail,
              strategy,
              durationMinutes,
              sessionDescription,
              projectName,
            }),
          });
          const msgDiv = document.getElementById("sessionMsg");
          if (res.ok) {
            msgDiv.innerHTML =
              '<span class="text-success">Sessão criada com sucesso!</span>';
            e.target.reset();
            location.reload();
          } else {
            msgDiv.innerHTML =
              '<span class="text-danger">Erro ao criar sessão.</span>';
          }
        });
    </script>
  </body>
</html>
